Source: tor-network-applet
Section: libs
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper-compat (= 12),
 maemo-system-services-dev,
 libhildon1-dev,
 libhildondesktop1-dev,
 hildon-control-panel-dev,
 libgtk2.0-dev,
 libglib2.0-dev,
 libosso-dev,
 libgconf2-dev,
 libdbus-1-dev,
 libconnui-dev,
 libicd-tor-dev,
Standards-Version: 4.3.0

Package: status-area-tor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 tor,
 libicd-network-tor,
 libicd-provider-tor,
Description: Tor status area applet

Package: control-panel-tor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 tor,
 libicd-network-tor,
 libicd-provider-tor,
Description: Tor control panel applet

Package: tor-maemo
XB-Maemo-Display-Name: Tor support for Maemo
Section: user/network
Architecture: all
Depends:
 ${misc:Depends},
 status-area-tor,
 control-panel-tor,
 libicd-network-tor,
 libicd-provider-tor,
Description: Tor connectivity package
 This package serves as a metapackage to install ICD2 plugins and
 providers for Tor, and the accompanying graphical user interfaces.
XB-Maemo-Icon-26: ${maemo:icon26}
